/dist
/build
/nbproject/Makefile-*
/nbproject/Package-*
/nbproject/private
/debug

prueba.X/dist
prueba.X/build
prueba.X/nbproject/Makefile-*
prueba.X/nbproject/Package-*
prueba.X/nbproject/private
prueba.X/debug