/dist
/build
/nbproject
/nbproject/private
/debug

Hola_mundo.X/dist
Hola_mundo.X/build
Hola_mundo.X/nbproject
Hola_mundo.X/debug

LCD.X/dist
LCD.X/build
LCD.X/nbproject
LCD.X/debug

Interrupcion.X/dist
Interrupcion.X/build
Interrupcion.X/nbproject
Interrupcion.X/debug

Timer0.X/dist
Timer0.X/build
Timer0.X/nbproject
Timer0.X/debug

Proyecto_Int_Timer.X/dist
Proyecto_Int_Timer.X/build
Proyecto_Int_Timer.X/nbproject
Proyecto_Int_Timer.X/debug

UART.X/dist
UART.X/build
UART.X/nbproject
UART.X/debug

ADC.X/dist
ADC.X/build
ADC.X/nbproject
ADC.X/debug

PWM_16bits.X/dist
PWM_16bits.X/build
PWM_16bits.X/nbproject
PWM_16bits.X/debug

Capturador.X/dist
Capturador.X/build
Capturador.X/nbproject
Capturador.X/debug

MEF_Moore.X/dist
MEF_Moore.X/build
MEF_Moore.X/nbproject
MEF_Moore.X/debug

PPS.X/dist
PPS.X/build
PPS.X/nbproject
PPS.X/debug

EEPROM.X/dist
EEPROM.X/build
EEPROM.X/nbproject
EEPROM.X/debug

CLC.X/dist
CLC.X/build
CLC.X/nbproject
CLC.X/debug

NCO.X/dist
NCO.X/build
NCO.X/nbproject
NCO.X/debug

CWG.X/dist
CWG.X/build
CWG.X/nbproject
CWG.X/debug